<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class"> org.postgresql.Driver</property>
		<property name="hibernate.connection.url"> jdbc:postgresql://localhost:5432/miludb2</property>
		<property name="hibernate.connection.username">milu</property>
		<property name="hibernate.connection.password">milu</property>
		<property name="hibernate.connection.pool_size">3</property>
		<property name="hibernate.dialect"> org.hibernate.dialect.PostgreSQLDialect</property>
		<!--  発行したSQL文を標準出力に出力するように設定 -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- Mapping files  -->
		<!-- マッピングファイルを指定。複数指定可  -->
		<!--  mapping resource="com/techscore/hibernate/chapter1/Book.hbm.xml"/ -->
		<mapping resource="milu/kiriu2010/exhibe02/main/Book.hbm.xml"/>
		<mapping resource="milu/kiriu2010/exhibe02/main/Person.hbm.xml"/>
	</session-factory>
</hibernate-configuration>
